<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="HelixToolkit" version="2014.2.425" targetFramework="net40" />
  <package id="HelixToolkit.Wpf" version="2014.2.425" targetFramework="net40" />
  <package id="ini-parser" version="2.1.1" targetFramework="net40" />
  <package id="System.Data.SQLite.Core" version="1.0.94.0" targetFramework="net40" />
  <package id="System.Data.SQLite.Linq" version="1.0.94.1" targetFramework="net40" />
  <package id="VVVV.FreeImage" version="3.15.1.1" targetFramework="net40" />
</packages>